
@import url('https://fonts.googleapis.com/css2?family=Red+Rose:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');


*{
    padding:0px;
    margin: 0px;
}

.bg{
    position: absolute;
    top:0px;
    z-index:-1;
    background-color:#0533e7;
}

.bg img{
    width: 100%;
    opacity: 0.6;
}

.main{
    margin:50px 100px;
    position: relative;
}

.header{
    position: relative;
    height: 80px;
    color:#FFC233;
}

.logo{
    position: absolute;
    top: 0px;
    bottom:0px;
    left: 0px;
    margin:auto 0px;
    height:fit-content;
}

.logo > img{
    width: 140px;
}

.nav{
    position: absolute;
    inset: 0px;
    margin:auto;
    height: fit-content;
    width: fit-content;
    font-family: 'Red Rose', cursive;
    font-weight: 600px;
    font-size: 18px;
}

.nav-item{
    display: inline;
    margin:0px 20px;
}

.nav-link{
    text-decoration: none;
    color:#FFC233
}

.order{
    position: absolute;
    top: 0px;
    bottom:0px;
    right: 0px;
    margin:auto 0px;
    height:fit-content;
}

.order button{
    color:#ffffff;
    border:none;
    background-color: #FF505F;
    padding:10px 35px;
    font-family: 'Red Rose', cursive;
    font-weight: 700;
    font-size: 18px;
}

.content{
    text-align: center;
    padding:0px 40px;
    padding-top:100px;
}

.heading{
    font-size: 45px;
    color:#FFC233;
    font-family: 'Dela Gothic One', cursive;
}

.scroll{
    position: absolute;
    right: 0px;
}

.scroll img{
    width: 200px;
}

.menu{
    margin:30px
}

.read-button{
    color:#ffffff;
    border:none;
    background-color: #FF505F;
    padding:15px 55px;
    font-family: 'Red Rose', cursive;
    font-weight: 700;
    font-size: 30px;
}