*{
    padding:0px;
    margin: 0px;
}

body{
    background-image: url("../assets/pexels-maxyne-barcel-10402282\ 1.png");
}

.main{
    margin:50px 100px;
}

.header{
    position: relative;
    height: 80px;
}

.logo{
    position: absolute;
    top: 0px;
    bottom:0px;
    left: 0px;
    margin:auto 0px;
    height:fit-content;
}

.logo > img{
    width: 140px;
}

.nav{
    position: absolute;
    inset: 0px;
    margin:auto;
    height: fit-content;
    width: fit-content;
}

.nav-item{
    display: inline;
    margin:0px 10px;
}

.order{
    position: absolute;
    top: 0px;
    bottom:0px;
    right: 0px;
    margin:auto 0px;
    height:fit-content;
}

.content{
    text-align: center;
}

.heading{
    font-size: 40px;
}

.scroll{
    position: relative;
    left: 40%;
}

.scroll img{
    width: 120px;
}